@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-[#1F1922] text-white !scrollbar !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600 overflow-x-hidden;
	}
}

@layer components {
	.header-arrow {
		@apply w-12 h-12;
	}
}

.color-white g {
	fill: #fff;
}